.popup-card {
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 15, 0, 0, 0);
}

.header-text {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.description-text {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-line-spacing: 5px;
}

.modern-input {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
}

/* BUTTONS */

.btn-upload {
    -fx-background-color: black !important;
    -fx-text-fill: white !important;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 25;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.btn-upload:hover {
    -fx-background-color: #333333 !important;
}

.btn-close {
    -fx-background-color: #FF0000 !important;
    -fx-text-fill: white !important;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 25;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.btn-close:hover {
    -fx-background-color: #CC0000 !important;
}